/FirstContact/frontend/node_modules
/FirstContact/backend/node_modules
/FirstContact/mobile/node_modules
/FirstContact/typescript/node_modules
/GoBarber/backend/node_modules
/GoBarber/backend/.vscode
/GoBarber/backend/tmp/*
!/GoBarber/backend/tmp/.gitkeep
#Local env files
.env.local
.env.development.local

/GoBarber/backend/ormconfig.json