/FirstContact/frontend/node_modules
/FirstContact/backend/node_modules
/FirstContact/mobile/node_modules
/FirstContact/typescript/node_modules
/GoBarber/backend/node_modules
/GoBarber/backend/.vscode
/GoBarber/backend/tmp/*
!/GoBarber/backend/tmp/.gitkeep
/GoBarber/backend/ormconfig.json
/GitExplore/frontend/node_modules
/GitExplore/frontend/.pnp
/GitExplore/frontend/.pnp.js
/GitExplore/frontend/coverage
/GitExplore/frontend/build
/GitExplore/frontend/.DS_Store
/GitExplore/frontend/npm-debug.log*
/GitExplore/frontend/yarn-debug.log*
/GitExplore/frontend/yarn-error.log*
#Local env files
.env.local
.env.development.local
