/FirstContact/frontend/node_modules
/FirstContact/backend/node_modules
/FirstContact/mobile/node_modules
/FirstContact/typescript/node_modules
/GoBarber/backend/node_modules
/GoBarber/backend/.vscode
/GoBarber/backend/tmp/*
!/GoBarber/backend/tmp/.gitkeep
/GoBarber/backend/ormconfig.json
/GoBarber/frontend/node_modules
/GoBarber/frontend/.pnp
/GoBarber/frontend/.pnp.js
/GoBarber/frontend/coverage
/GoBarber/frontend/build
/GoBarber/frontend/.DS_Store
/GoBarber/frontend/npm-debug.log*
/GoBarber/frontend/yarn-debug.log*
/GoBarber/frontend/yarn-error.log*
/GitExplore/frontend/node_modules
/GitExplore/frontend/.pnp
/GitExplore/frontend/.pnp.js
/GitExplore/frontend/coverage
/GitExplore/frontend/build
/GitExplore/frontend/.DS_Store
/GitExplore/frontend/npm-debug.log*
/GitExplore/frontend/yarn-debug.log*
/GitExplore/frontend/yarn-error.log*

